.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Limita a 3 filas */
    gap: 40px;
    padding: 20px;
    justify-content: center;
}

.producto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    font-size: 24px;
    font-weight: 500;
}


/* banner */
  
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.bannerImg {
  width: 40%;
  max-width: 300px; /* Tamaño máximo */
  max-height: 350px; /* Tamaño fijo más pequeño */
  object-fit: contain; /* Para que no se recorten partes de la imagen */
  border-radius: 10px;
  padding: 10px; /* Espacio para imágenes más pequeñas */
}

.bannerContent {
  width: 55%;
  text-align: left;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.tituloBanner {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.infoBanner {
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
}

.bannerBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.bannerBtn:hover {
  background-color: darkorange;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: darkorange;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.prevButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}

.prevButton:hover, .nextButton:hover {
  background: orange;
}


  