/* Contenedor de productos */
.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se ajusta automáticamente */
  gap: 40px;
  padding: 20px;
  justify-content: center;
}

/* Producto */
.producto {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

/* Título */
.title {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Imagen del producto */
.imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Información */
.info {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Banner */
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap; /* Permite que se acomode en móviles */
  padding: 20px;
}

/* Contenido del banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  padding: 24px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Imagen del banner */
.bannerImg {
  width: 40%;
  max-width: 280px;
  max-height: 350px;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;
}

/* Contenido del texto en el banner */
.bannerContent {
  width: 55%;
  text-align: left;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 768px) {
  .bannerContainer {
      flex-direction: column;
      align-items: center;
  }

  .bannerImg {
      width: 80%;
      max-width: 300px;
  }

  .bannerContent {
      width: 100%;
      text-align: center;
  }
}

/* Título del banner */
.tituloBanner {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Info del banner */
.infoBanner {
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
}

/* Botón del banner */
.bannerBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.bannerBtn:hover {
  background-color: darkorange;
}

/* Botones de navegación */
.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: darkorange;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Ajuste en móviles */
@media (max-width: 768px) {
  .prevButton, .nextButton {
      width: 35px;
      height: 35px;
      font-size: 20px;
      padding: 8px;
  }
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover, .nextButton:hover {
  background: orange;
}
