.carrito {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titulocarrito {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.vacio {
    font-size: large;
}

.infoProductoCarrito {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.imagenCarrito {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    border: 1px solid orange;
}

.infoProductoUnidad {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botonVaciar {
    background-color: lightgrey;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    max-width: 50%;
    cursor: pointer;
}

.finalizar {
    background-color: orange;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    max-width: 50%;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.botonesCarrito {
    display: flex;
    gap: 150px;
}

.precioTotal {
    margin: 12px;
    font-size: 32px;
    font-weight: 700;
}

.subtitloInfo {
    font-size: 24px;
    font-weight: 600;
}

.infoCarrito {
    font-size: 18px;
    font-weight: 400;
}

.botonEliminar {
    padding: 4px; /* Ajusta el espacio interno del botón */
    width: auto; /* O puedes definir un tamaño fijo como width: 80px; */
    height: 30px; /* Reduce la altura del botón */
    background-color: #ff4d4d; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  .botonEliminar:hover {
    background-color: #cc0000; /* Cambia de color al pasar el mouse */
  }
  