.containerCheckOut {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
.tituloCheckOut {
    font-size: 2rem;
    color: #ff6600;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease-in-out;
  }
  
  input:focus,
  textarea:focus {
    border-color: #ff6600;
  }
  
  textarea {
    resize: none;
    height: 120px;
  }
  
  button {
    background: #ff6600;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #e65c00;
  }
  
  .mensajeReturn {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tituloReturn {
    font-size: 32px;
    font-weight: 600;
  }

  .infoReturn {
    font-size: 20px;
  }

  .botonReturn {
    font-weight: 600;
    font-size: 16px;  /* Reduce el tamaño de la fuente */
    padding: 8px 16px; /* Ajusta el relleno para hacerlo más compacto */
    max-width: 200px;  /* Limita el ancho máximo */
    border: none;
    background-color: orange;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botonReturn:hover {
    background-color: var(--sky-900);
}
