.container {
    display: flex;
    justify-content: space-between;
    margin: auto; /* Margen arriba y abajo, centrado horizontalmente */
    padding: 0px 50px;
    max-width: auto;
    background-color: rgb(233, 197, 129);
    align-items: center;
}

.logo {
    font-size: 40px;
    font-family: var(--heading);
    text-decoration: none;
    color: var(--neutral-950);
    cursor: pointer;
}

.logo:hover {
    color: var(--sky-900);
}

.contenedor {
    margin: 50px auto; /* Margen arriba y abajo, centrado horizontalmente */
    padding: 0 60px; /* Espaciado a los lados */
    max-width: 1980px;
    font-family: var(--text);
    font-size: 30px;
}

.logoContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Puede ser 'contain' o 'cover' según el efecto que busques */
  }
  